
*.o
*.so
*.a

c-examples/example-write

c-examples/example-read

c-examples/example-addvar

c-examples/test*.wtxt
c-examples/test*.wdat

visit-plugin/CMakeFiles/

visit-plugin/Makefile

visit-plugin/CMakeLists\.txt

visit-plugin/CMakeCache\.txt

visit-plugin/cmake_install\.cmake

bin/

c-examples/example-write-many

*/.vscode
c-examples/example-write-many-t_varying


tools/wdata-section
