## Core latex/pdflatex auxiliary files:
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
.*.lb
.directory

# Kile
*.backup

# gummi
.*.swp

# Object files
*.o
*.gch

# executables
*.exe
*.dat

# data files
*.dpca
*.dntg



# pca folder 
pca/tkpca_cloud_size

pca/pca

pca/tkpca_checkpoint2dto3d

pca/s3dpca
pca/s2dpca
pca/pca
pca/cpca
pca/*run.log
pca/*.dpca
pca/*.info
pca/*.en
pca/*.solution
pca/*.pud
pca/*.wfv
pca/*.wfu
pca/*.s3dpca
pca/*.s2dpca
pca/*.kkz
pca/*.stamp
pca/tkpca_3dcheckint
pca/*.kzpca
pca/torm*

data/

pca/ccpca
