## Core latex/pdflatex auxiliary files:
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
.*.lb
.directory

# Kile
*.backup

# gummi
.*.swp

# Object files
*.o
*.gch

# executables
*.exe
*.dat

# data files
*.dpca
*.dntg



# pca folder 
pca/tkpca_cloud_size

pca/pca

pca/tkpca_checkpoint2dto3d

pca/s3dpca
pca/s2dpca
pca/pca
pca/cpca
pca/*run.log
pca/*.dpca
pca/*.info
pca/*.en
pca/*.solution
pca/*.pud
pca/*.wfv
pca/*.wfu
pca/*.s3dpca
pca/*.s2dpca
pca/*.kkz
pca/*.stamp
pca/tkpca_3dcheckint
pca/*.kzpca
pca/torm*

data/

pca/ccpca

st-testcase-uniform/test*
st-testcase-uniform/st-wslda-3d
st-testcase-uniform/st-wslda-2d

st-myproject-template/test*
st-myproject-template/st-wslda-3d
st-myproject-template/st-wslda-2d

td-myproject-template/test*
td-myproject-template/td-wslda-3d
td-myproject-template/td-wslda-2d
td-myproject-template/td-wslda-1d

td-testcase-uniform/test*
td-testcase-uniform/td-wslda-3d
td-testcase-uniform/td-wslda-2d
td-testcase-uniform/td-wslda-1d

lib-wdata/example-read
lib-wdata/example-write
lib-wdata/example-addvar
lib-wdata/libwdata\.a
lib-wdata/test*

tools/libwdata\.a
tools/wdata-cut
tools/test*

tools/dpca2wdata

st-testcase-uniform/obj/

td-testcase-uniform/obj/

st-testcase-uniform/st-wslda-1d

tools/bin/

td-project-template/obj/

td-project-template/td-wslda-2d

post-processing/st-processwf-2d

post-processing/examples/st-Lz-quantum-numbers-2d
