
winterp\.o

libwinterp\.so

libwinterp\.a

*.wdat

*.odg

c-examples/lattice2d-simple

c-examples/section2d_simple

c-examples/interp3d_simple

c-examples/interp2d_simple

c-examples/interp1d_simple


*.so 
*.a 
*.o
python/__*